<label>Server Name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)" >-->
<input type="text" class="form-control" [(ngModel)]="serverName" >

<div class="box">
  <button class="btn btn-primary"
          [disabled]="!allowNewServer"
          (click)="onCreateServer()" >Add Server</button>
<!--  <p> {{serverCreaationStatus}}</p>-->
  <p *ngIf="serverCreated">Serverul a fost creat, serverul se numeste {{serverName}}</p>
  <app-server *ngFor="let server of servers"></app-server>

</div>

